# -*- mode: sh; -*-

PATH_add qt5/bin
PATH_add utils
PATH_add qt-source/qtrepotools/bin

# GODLEN: (find dev packages of qt modules)
# http://askubuntu.com/questions/508503/whats-the-development-package-for-qt5-in-14-04
export MODULES=qtquickcontrols,qtquickcontrols2,qtbase,qtdeclarative,qtscript,qttools,qtrepotools,qtxmlpatterns,qtgraphicaleffects
export IP=192.168.1.119
export SYSROOT=/opt/qtpi/sysroot
export PREFIX_TARGET=/usr/local/qt5pi
export PREFIX_HOST=/opt/qtpi/qt5pi
export PREFIX_HOST_BUILD_TOOLS=/opt/qtpi/qt5
export QT_SOURCE=/opt/qtpi/qt-source
export TOOLS_DIR=/opt/qtpi/tools
