# -*- mode: sh; -*-

# GODLEN: (find dev packages of qt modules)
# http://askubuntu.com/questions/508503/whats-the-development-package-for-qt5-in-14-04
export MODULES=qtquickcontrols,qtquickcontrols2,qtbase,qtdeclarative,qtscript,qttools,qtrepotools,qtxmlpatterns,qtgraphicaleffects,qtvirtualkeyboard,qtsvg
export IP=192.168.1.89
export SOURCE_DIR=/media/hdd/qtpi
export SYSROOT=${SOURCE_DIR}/sysroot
export PREFIX_TARGET=/usr/local/qt5pi
export PREFIX_HOST=${SOURCE_DIR}/qt5pi
export PREFIX_HOST_BUILD_TOOLS=${SOURCE_DIR}/qt5
export QT_SOURCE=${SOURCE_DIR}/qt-source
export TOOLS_DIR=${SOURCE_DIR}/tools

# Set PATH using direnv (https://github.com/direnv/direnv)
PATH_add qt5/bin
PATH_add utils
PATH_add qt-source/qtrepotools/bin
